defaults/flow.json
[
    {
      "type": "tab",
      "id": "eb3b002.f14c5",
      "label": "Game On"
    },
    {
      "id": "5be70547.2b7ef4",
      "type": "subflow",
      "name": "Update Game Cloudant",
      "info": "Update or add a new doc to Cloudant.",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "df60e45b.d633d"
            }
          ]
        }
      ],
      "out": []
    },
    {
      "id": "9b686df7.35c528",
      "type": "subflow",
      "name": "Grab Last Game File from Cloudant",
      "info": "Goal has been scored. Check the totalGames \ndoc to see how many games there are.  Grab\nlast game file where _id equals the totalGames.\nPull the details for last game and proceed. ",
      "in": [
        {
          "x": 50,
          "y": 52,
          "wires": [
            {
              "id": "1a28d596.fa4522"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 785,
          "y": 288,
          "wires": [
            {
              "id": "527b4629.24027",
              "port": 0
            }
          ]
        }
      ]
    },
    {
      "id": "8a9a05a4.940208",
      "type": "subflow",
      "name": "Update Player",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "e4c20995.82f1c"
            }
          ]
        }
      ],
      "out": []
    },
    {
      "id": "3a05fb9a.d8f02c",
      "type": "subflow",
      "name": "Set Game File",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "bdedaed4.395918"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 640,
          "y": 80,
          "wires": [
            {
              "id": "bdedaed4.395918",
              "port": 0
            }
          ]
        }
      ]
    },
    {
      "id": "32b85eb7.6a78c2",
      "type": "subflow",
      "name": "Grab Total Games",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "2f43605d.e2a65"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 860,
          "y": 180,
          "wires": [
            {
              "id": "e03c18b9.01b248",
              "port": 0
            }
          ]
        }
      ]
    },
    {
      "id": "f66fe417.150108",
      "type": "subflow",
      "name": "Calculate Scoring Speed",
      "info": "",
      "in": [
        {
          "x": 260,
          "y": 120,
          "wires": [
            {
              "id": "930fb16e.3b9ec8"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 780,
          "y": 120,
          "wires": [
            {
              "id": "930fb16e.3b9ec8",
              "port": 0
            }
          ]
        }
      ]
    },
    {
      "id": "31cf390.0267748",
      "type": "subflow",
      "name": "Pull globals from Game File",
      "info": "",
      "in": [
        {
          "x": 289.00001525878906,
          "y": 135,
          "wires": [
            {
              "id": "1572f045.453a3"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 685,
          "y": 169,
          "wires": [
            {
              "id": "1572f045.453a3",
              "port": 0
            }
          ]
        }
      ]
    },
    {
      "id": "ebb52a13.6153a",
      "type": "subflow",
      "name": "Search For Player 1",
      "info": "",
      "in": [
        {
          "x": 235,
          "y": 140,
          "wires": [
            {
              "id": "d5f96dd4.87a0b"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 1060,
          "y": 200,
          "wires": [
            {
              "id": "16dbc905.391e0f",
              "port": 0
            }
          ]
        }
      ]
    },
    {
      "id": "75765777.fb44a8",
      "type": "subflow",
      "name": "Search For Player 2",
      "info": "",
      "in": [
        {
          "x": 138,
          "y": 158,
          "wires": [
            {
              "id": "88b2dc5d.3f156"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 870,
          "y": 146,
          "wires": [
            {
              "id": "e8899665.3a4d2",
              "port": 0
            }
          ]
        }
      ]
    },
    {
      "id": "1722da31.78dc7e",
      "type": "subflow",
      "name": "Watson Talks",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "15453f70.2b9811"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 540,
          "y": 180,
          "wires": [
            {
              "id": "c9365bc0.718008",
              "port": 0
            }
          ]
        }
      ]
    },
    {
      "id": "ef9360d3.e24e68",
      "type": "subflow",
      "name": "End the Game",
      "info": "Repeating node to set the gameActive state to false,\nset an end time, and prepare a web socket message.",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "b5778ce.0ddba7"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 560,
          "y": 20,
          "wires": [
            {
              "id": "b5778ce.0ddba7",
              "port": 0
            }
          ]
        }
      ]
    },
    {
      "id": "3f61a03d.8909d",
      "type": "subflow",
      "name": "Update totalGames for goal and wins",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "7556c2a8.460d04"
            }
          ]
        }
      ],
      "out": []
    },
    {
      "id": "db1d3810.9bfdd",
      "type": "subflow",
      "name": "Update Player on New Game Login",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "171a0c81.3f3653"
            }
          ]
        }
      ],
      "out": []
    },
    {
      "id": "1745dddb.3256fa",
      "type": "subflow",
      "name": "Old Game Math",
      "info": "",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "dfe34863.c22978"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 460,
          "y": 20,
          "wires": [
            {
              "id": "dfe34863.c22978",
              "port": 0
            }
          ]
        }
      ]
    },
    {
      "id": "7b37827d.4bbe54",
      "type": "subflow",
      "name": "Verify Player is Not Duplicate and Prepare to Update Game Files",
      "info": "Subflow creates a new Player in the players database\nif a player does not exist.  The flow then follows the check\nfor active game and old game logic before preparing to set a player\nfor the chosen team. If the player is a duplicate login the flow will\nbypass processing. ",
      "in": [
        {
          "x": 40,
          "y": 20,
          "wires": [
            {
              "id": "e9694001.9001f8"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 1900,
          "y": 460,
          "wires": [
            {
              "id": "66e486e.8b97078",
              "port": 0
            }
          ]
        },
        {
          "x": 1900,
          "y": 500,
          "wires": [
            {
              "id": "66e486e.8b97078",
              "port": 1
            }
          ]
        }
      ]
    },
    {
      "id": "3d6f968e.13cde2",
      "type": "subflow",
      "name": "Update Players Last Game Played Attribute on Rematch",
      "info": "Add one to the game and update the player to reflect a new last game.",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "732d1e3e.c69c4"
            },
            {
              "id": "dc0f7d84.7446d8"
            }
          ]
        }
      ],
      "out": []
    },
    {
      "id": "c5240d2d.6b2e28",
      "type": "subflow",
      "name": "Update totalGames ",
      "info": "A basic format payload and update the total games file\nwithout a request to pull from the database.",
      "in": [
        {
          "x": 50,
          "y": 30,
          "wires": [
            {
              "id": "743fbac.14be944"
            }
          ]
        }
      ],
      "out": []
    },
    {
      "id": "cb914998.346eb8",
      "type": "ibmiot",
      "z": "eb3b002.f14c5",
      "name": "Foosbuzz"
    },
    {
      "id": "745b2289.6229bc",
      "type": "websocket-listener",
      "z": "eb3b002.f14c5",
      "path": "/ws/game",
      "wholemsg": "false"
    },
    {
      "id": "e78a9b69.f3cd2",
      "type": "twitter-credentials",
      "z": "eb3b002.f14c5",
      "screen_name": "@FoosBuzz"
    },
    {
      "id": "41b871fe.08add8",
      "type": "websocket-listener",
      "z": "eb3b002.f14c5",
      "path": "/wswatson",
      "wholemsg": "false"
    },
    {
      "id": "176a23ca.d73e64",
      "type": "cloudant out",
      "z": "5be70547.2b7ef4",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "New Game",
      "database": "games",
      "payonly": true,
      "operation": "insert",
      "x": 410,
      "y": 140,
      "wires": []
    },
    {
      "id": "df60e45b.d633d",
      "type": "switch",
      "z": "5be70547.2b7ef4",
      "name": "Insert or Update",
      "property": "newGame",
      "propertyType": "global",
      "rules": [
        {
          "t": "true"
        },
        {
          "t": "false"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 153.5,
      "y": 197,
      "wires": [
        [
          "176a23ca.d73e64"
        ],
        [
          "d88cfa96.0ba378"
        ]
      ]
    },
    {
      "id": "d88cfa96.0ba378",
      "type": "function",
      "z": "5be70547.2b7ef4",
      "name": "Set Cloudant Update Command",
      "func": "gameID = global.get(\"gameID\").toString();\n\nmsg.payload = {\n  \"_id\": gameID,\n  \"_rev\":global.get(\"rev\"),\n  \"userTeamOne\": global.get(\"userTeamOne\"),\n  \"idTeamOne\": global.get(\"idTeamOne\"),\n  \"userTeamOnePhoto\": global.get(\"userTeamOnePhoto\"),\n  \"userTeamTwo\": global.get(\"userTeamTwo\"),\n  \"idTeamTwo\": global.get(\"idTeamTwo\"),\n  \"userTeamTwoPhoto\": global.get(\"userTeamTwoPhoto\"),\n  \"goalsTeamOne\": global.get(\"goalsTeamOne\"),\n  \"goalsTeamTwo\": global.get(\"goalsTeamTwo\"),\n  \"startTime\": global.get(\"startTime\"),\n  \"endTime\": global.get(\"endTime\"),\n  \"lastBall\": global.get(\"lastBall\"),\n  \"currentBall\":global.get(\"currentBall\"),\n  \"gameActive\": global.get(\"gameActive\"),\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 394.5,
      "y": 233,
      "wires": [
        [
          "3efc5acd.7463d6"
        ]
      ]
    },
    {
      "id": "3efc5acd.7463d6",
      "type": "cloudant out",
      "z": "5be70547.2b7ef4",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Update Game",
      "database": "games",
      "payonly": true,
      "operation": "insert",
      "x": 653.5,
      "y": 230,
      "wires": []
    },
    {
      "id": "1a28d596.fa4522",
      "type": "function",
      "z": "9b686df7.35c528",
      "name": "Grab Total Games",
      "func": "global.set(\"newGame\",false);\n\n// Prep Cloudant search parameters for pulling the last cloudant totalGames doc\nmsg.payload=\"totalGames\";\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 218,
      "y": 51,
      "wires": [
        [
          "bba064f8.1d3708"
        ]
      ]
    },
    {
      "id": "bba064f8.1d3708",
      "type": "cloudant in",
      "z": "9b686df7.35c528",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Total Games",
      "database": "games",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 425,
      "y": 52,
      "wires": [
        [
          "8919abf6.2546d"
        ]
      ]
    },
    {
      "id": "8919abf6.2546d",
      "type": "function",
      "z": "9b686df7.35c528",
      "name": "Grab Last Game File",
      "func": "var tot = msg.payload.totalGames;\nglobal.set(\"totalGames\",tot);\nglobal.set(\"totRev\",msg.payload._rev);\nglobal.set(\"winsTeamOne\",msg.payload.winsTeamOne);\nglobal.set(\"winsTeamTwo\",msg.payload.winsTeamTwo);\nglobal.set(\"totTeamOne\",msg.payload.totTeamOne);\nglobal.set(\"totTeamTwo\",msg.payload.totTeamTwo);\n\nmsg.payload=tot;\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 644,
      "y": 51,
      "wires": [
        [
          "527b4629.24027"
        ]
      ]
    },
    {
      "id": "527b4629.24027",
      "type": "cloudant in",
      "z": "9b686df7.35c528",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Get Latest Game by _id",
      "database": "games",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 508.5,
      "y": 183,
      "wires": [
        []
      ]
    },
    {
      "id": "11094844.01bb38",
      "type": "ibmiot in",
      "z": "eb3b002.f14c5",
      "authentication": "apiKey",
      "apiKey": "cb914998.346eb8",
      "inputType": "evt",
      "deviceId": "",
      "applicationId": "",
      "deviceType": "table",
      "eventType": "+",
      "commandType": "",
      "format": "json",
      "name": "Data From Table",
      "service": "registered",
      "allDevices": true,
      "allApplications": false,
      "allDeviceTypes": true,
      "allEvents": true,
      "allCommands": false,
      "allFormats": false,
      "x": 100,
      "y": 740,
      "wires": [
        [
          "f94f5b74.574478",
          "64f42464.37c244"
        ]
      ]
    },
    {
      "id": "983b469d.bb2d48",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Team One win?",
      "property": "goalsTeamOne",
      "propertyType": "global",
      "rules": [
        {
          "t": "gte",
          "v": "5",
          "vt": "str"
        },
        {
          "t": "lt",
          "v": "5",
          "vt": "str"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 2620,
      "y": 320,
      "wires": [
        [
          "948d1510.7059d",
          "bfd2d7c5.3980a",
          "be8b1f14.9951f",
          "43a6dc1d.84f06c",
          "f7cdeb45.770d18",
          "a4ce5047.c4c768"
        ],
        [
          "be8b1f14.9951f",
          "a4ce5047.c4c768"
        ]
      ]
    },
    {
      "id": "218c1070.082098",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Team Two Win?",
      "property": "goalsTeamTwo",
      "propertyType": "global",
      "rules": [
        {
          "t": "gte",
          "v": "5",
          "vt": "str"
        },
        {
          "t": "lt",
          "v": "5",
          "vt": "str"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 2620,
      "y": 380,
      "wires": [
        [
          "948d1510.7059d",
          "b9844322.6a43e8",
          "2f9a84eb.e1235c",
          "f7cdeb45.770d18",
          "43a6dc1d.84f06c",
          "a4ce5047.c4c768"
        ],
        [
          "2f9a84eb.e1235c",
          "a4ce5047.c4c768"
        ]
      ]
    },
    {
      "id": "8cb0f205.fef9e",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Goal Team Two",
      "func": "var goals = global.get(\"goalsTeamTwo\") + 1;\nglobal.set(\"goalsTeamTwo\",goals);\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1800,
      "y": 280,
      "wires": [
        [
          "2df935bb.b2d34a",
          "2d2d4161.9f0e8e"
        ]
      ]
    },
    {
      "id": "b76af2d8.e57958",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Goal Handling",
      "property": "team",
      "propertyType": "global",
      "rules": [
        {
          "t": "eq",
          "v": "2",
          "vt": "num"
        },
        {
          "t": "eq",
          "v": "1",
          "vt": "num"
        }
      ],
      "checkall": "false",
      "outputs": 2,
      "x": 1540,
      "y": 240,
      "wires": [
        [
          "f8171b8a.b5b15"
        ],
        [
          "8cb0f205.fef9e"
        ]
      ]
    },
    {
      "id": "f8171b8a.b5b15",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Goal Team One",
      "func": "var goals = global.get(\"goalsTeamOne\") + 1;\nglobal.set(\"goalsTeamOne\",goals);\n\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1800,
      "y": 240,
      "wires": [
        [
          "d2179da.b6bdfe",
          "2d2d4161.9f0e8e"
        ]
      ]
    },
    {
      "id": "436720f7.520b38",
      "type": "inject",
      "z": "eb3b002.f14c5",
      "name": "Goal Team 1",
      "topic": "",
      "payload": "1",
      "payloadType": "num",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 125.5,
      "y": 572,
      "wires": [
        [
          "67c3bf37.98439"
        ]
      ]
    },
    {
      "id": "112615b.82603ea",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Check If Game is Active",
      "property": "gameActive",
      "propertyType": "global",
      "rules": [
        {
          "t": "true"
        },
        {
          "t": "false"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 870,
      "y": 240,
      "wires": [
        [
          "bb3f6f56.6bba4"
        ],
        [
          "9ee97196.6c621"
        ]
      ]
    },
    {
      "id": "9ee97196.6c621",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Game Not Active Set Defaults",
      "func": "//Increase the gameID to start new game\nglobal.set(\"newGame\",true);\n\nvar game=global.get(\"gameID\");\ngame=game+1;\nglobal.set(\"gameID\",game);\n\n//Set the users\n//TODO Update users to reflect global login\nglobal.set(\"userTeamOne\",\"Anonymous\");\nglobal.set(\"idTeamOne\",null);\nglobal.set(\"userTeamOnePhoto\",null);\nglobal.set(\"userTeamTwo\",\"Incognito\");\nglobal.set(\"idTeamTwo\",null);\nglobal.set(\"userTeamTwoPhoto\",null);\nglobal.set(\"goalsTeamOne\",0);\nglobal.set(\"goalsTeamTwo\",0);\n\n//Set time of game start\nvar start = new Date().toString();\nglobal.set(\"startTime\",start);\nglobal.set(\"gameActive\",true);\nglobal.set(\"endTime\",null);\nglobal.set(\"lastBall\",null);\nglobal.set(\"currentBall\",null);\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1250,
      "y": 240,
      "wires": [
        [
          "b76af2d8.e57958"
        ]
      ]
    },
    {
      "id": "948d1510.7059d",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "End the Game",
      "func": "var end = new Date().toString();\n\n//Set the end time and change the game state to inactive\nglobal.set(\"endTime\",end);\nglobal.set(\"gameActive\",false);\n\n//Set the message type for Client socket\nmsg.payload={\"type\":\"gameEnd\"};\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 3120,
      "y": 440,
      "wires": [
        [
          "9ecd41d5.165ee8"
        ]
      ]
    },
    {
      "id": "6bb4cac.60f3734",
      "type": "inject",
      "z": "eb3b002.f14c5",
      "name": "Goal Team 2",
      "topic": "",
      "payload": "2",
      "payloadType": "num",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 129.00000762939453,
      "y": 627,
      "wires": [
        [
          "67c3bf37.98439"
        ]
      ]
    },
    {
      "id": "d698eb8b.a017b",
      "type": "inject",
      "z": "eb3b002.f14c5",
      "name": "Reset",
      "topic": "",
      "payload": "0",
      "payloadType": "num",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 143,
      "y": 681,
      "wires": [
        [
          "67c3bf37.98439"
        ]
      ]
    },
    {
      "id": "431de9c4.79e1d8",
      "type": "debug",
      "z": "eb3b002.f14c5",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "payload",
      "x": 3450,
      "y": 460,
      "wires": []
    },
    {
      "id": "d09eb11.8d228d",
      "type": "http in",
      "z": "eb3b002.f14c5",
      "name": "",
      "url": "/rematch",
      "method": "get",
      "swaggerDoc": "",
      "x": 130,
      "y": 1260,
      "wires": [
        [
          "c57cbc6e.3a5a7"
        ]
      ]
    },
    {
      "id": "c57cbc6e.3a5a7",
      "type": "subflow:9b686df7.35c528",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 380,
      "y": 1260,
      "wires": [
        [
          "8c25ba9e.ca24c"
        ]
      ]
    },
    {
      "id": "8c25ba9e.ca24c",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Same Users for New Game",
      "func": "var gameID = Number(msg.payload._id);\ngameID = gameID + 1;\nglobal.set(\"gameID\",gameID);\nvar start = new Date().toString();\nvar gameID = gameID.toString();\n\nglobal.set(\"newGame\",true);\n\nmsg.payload = {\n  \"_id\": gameID,\n  \"userTeamOne\": msg.payload.userTeamOne,\n  \"idTeamOne\": msg.payload.idTeamOne,\n  \"userTeamOnePhoto\": msg.payload.userTeamOnePhoto,\n  \"userTeamTwo\": msg.payload.userTeamTwo,\n  \"idTeamTwo\": msg.payload.idTeamTwo,\n  \"userTeamTwoPhoto\": msg.payload.userTeamTwoPhoto,\n  \"goalsTeamOne\": 0,\n  \"goalsTeamTwo\": 0,\n  \"startTime\": start,\n  \"endTime\": null,\n  \"lastBall\":null,\n  \"currentBall\":null,\n  \"gameActive\": true,\n}\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 690,
      "y": 1260,
      "wires": [
        [
          "219f7da1.e42f32",
          "131d2f9c.d38b28",
          "6673d071.f8b91"
        ]
      ]
    },
    {
      "id": "1e24cf0a.bbcd61",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Pull Globals from Game File",
      "func": "//Set the globals for Overall Game\nglobal.set(\"gameID\",Number(msg.payload._id));\nglobal.set(\"rev\",msg.payload._rev);\nglobal.set(\"startTime\",msg.payload.startTime);\nglobal.set(\"endTime\",msg.payload.endTime);\nglobal.set(\"gameActive\",msg.payload.gameActive);\nglobal.set(\"lastBall\",msg.payload.lastBall);\nglobal.set(\"currentBall\",msg.payload.currentBall);\n\n//Set the globals for Teams\nglobal.set(\"goalsTeamOne\",msg.payload.goalsTeamOne);\nglobal.set(\"goalsTeamTwo\",msg.payload.goalsTeamTwo);\nglobal.set(\"userTeamOne\",msg.payload.userTeamOne);\nglobal.set(\"userTeamTwo\",msg.payload.userTeamTwo);\nglobal.set(\"idTeamOne\",msg.payload.idTeamOne);\nglobal.set(\"idTeamTwo\",msg.payload.idTeamTwo);\nglobal.set(\"userTeamOnePhoto\",msg.payload.userTeamOnePhoto);\nglobal.set(\"userTeamTwoPhoto\",msg.payload.userTeamTwoPhoto);\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 660,
      "y": 780,
      "wires": [
        [
          "112615b.82603ea",
          "75c591a8.087fe8"
        ]
      ]
    },
    {
      "id": "64f42464.37c244",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Scoring Team",
      "func": "// Set global for team that score\n// Sets to 0,1, or 2\nteam=Number(msg.payload.d);\nglobal.set(\"team\",team);\n\n// Set scoring time\nvar scoreTime = new Date();\nglobal.set(\"scoreTime\",scoreTime);\n\nmsg.payload={};\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 450,
      "y": 620,
      "wires": [
        [
          "5f743947.43d9c",
          "162695e1.b508ea"
        ]
      ]
    },
    {
      "id": "bb3f6f56.6bba4",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Check for Old Game",
      "func": "//var game = Date.parse(\"Sat Feb 06 2016 06:21:38 GMT+0000 (UTC)\");\n\nvar game = Date.parse(global.get(\"startTime\"));\nvar start = new Date(game);\nvar current = new Date();\nmsg.isOld = false;\nglobal.set(\"isOld\",false);\n\nif(start < current){\n    var sHour = start.getTime();\n    var cHour = current.getTime();\n    \n    var toMin = 60000;\n    \n    var difference = cHour - sHour;\n    difference = difference/toMin;\n    \n    if(difference > 15){\n        msg.isOld = true;\n        global.set(\"isOld\",true);\n    }\n    \n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 860,
      "y": 100,
      "wires": [
        [
          "c2f07bf.92d4688"
        ]
      ]
    },
    {
      "id": "c2f07bf.92d4688",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Game is Old",
      "property": "isOld",
      "propertyType": "msg",
      "rules": [
        {
          "t": "true"
        },
        {
          "t": "false"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 1090,
      "y": 100,
      "wires": [
        [
          "769eedc8.c6ed04",
          "dcf3823a.22bf3"
        ],
        [
          "b76af2d8.e57958"
        ]
      ]
    },
    {
      "id": "e4c20995.82f1c",
      "type": "cloudant in",
      "z": "8a9a05a4.940208",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 350,
      "y": 200,
      "wires": [
        [
          "be807b16.3672d8"
        ]
      ]
    },
    {
      "id": "be807b16.3672d8",
      "type": "function",
      "z": "8a9a05a4.940208",
      "name": "Set Cloudant Update Command",
      "func": "gameID = global.get(\"gameID\").toString();\nvar win = global.get(\"winner\");\nif(win===true){\n    gamesWon = msg.payload.gamesWon + 1;\n    msg.payload.gamesWon = gamesWon;\n}\nelse{\n    gamesLost = msg.payload.gamesLost + 1;\n    msg.payload.gamesLost = gamesLost;\n}\n\n\nvar goals = global.get(\"goals\");\nvar goals2 = global.get(\"goals2\");\nmsg.payload.pointsFor = msg.payload.pointsFor + goals;\nmsg.payload.pointsAgainst = msg.payload.pointsAgainst + goals2;\n\n\nmsg.payload = {\n  \"_id\": msg.payload._id,\n  \"_rev\": msg.payload._rev,\n  \"handle\":msg.payload.handle,\n  \"name\": msg.payload.name,\n  \"photo\": msg.payload.photo,\n  \"gamesWon\": msg.payload.gamesWon,\n  \"gamesLost\": msg.payload.gamesLost,\n  \"pointsFor\": msg.payload.pointsFor,\n  \"pointsAgainst\":msg.payload.pointsAgainst,\n  \"lastPlayed\": global.get(\"endTime\"),\n  \"lastGame\": gameID\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 570,
      "y": 120,
      "wires": [
        [
          "ec0e1614.bf0ce8"
        ]
      ]
    },
    {
      "id": "ec0e1614.bf0ce8",
      "type": "cloudant out",
      "z": "8a9a05a4.940208",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Update Player",
      "database": "players",
      "payonly": true,
      "operation": "insert",
      "x": 620,
      "y": 200,
      "wires": []
    },
    {
      "id": "a0e6cd66.3eeab8",
      "type": "subflow:8a9a05a4.940208",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 3440,
      "y": 320,
      "wires": []
    },
    {
      "id": "bfd2d7c5.3980a",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Team One as Winner",
      "func": "msg.payload = {\"type\":\"gameWon\",\"score_TeamOne\":global.get(\"goalsTeamOne\"),\"score_TeamTwo\":global.get(\"goalsTeamTwo\"),\"team\":1};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 3070,
      "y": 620,
      "wires": [
        [
          "1519a068.08aee8",
          "cc80f4fa.4213f8"
        ]
      ]
    },
    {
      "id": "b9844322.6a43e8",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Team Two as Winner",
      "func": "msg.payload = {\"type\":\"gameWon\",\"score_TeamOne\":global.get(\"goalsTeamOne\"),\"score_TeamTwo\":global.get(\"goalsTeamTwo\"),\"team\":2};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 3070,
      "y": 660,
      "wires": [
        [
          "1519a068.08aee8",
          "73522428.d65d34"
        ]
      ]
    },
    {
      "id": "be8b1f14.9951f",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Team One as Shooter",
      "func": "msg.payload = {\"type\":\"goal\",\"score_TeamOne\":global.get(\"goalsTeamOne\"),\"score_TeamTwo\":global.get(\"goalsTeamTwo\"),\"shooter\":global.get(\"userTeamOne\"),\"team\":1};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 2690,
      "y": 900,
      "wires": [
        [
          "f6520f5a.f94028",
          "e1b02305.ae09f",
          "a8995a31.4985a"
        ]
      ]
    },
    {
      "id": "2f9a84eb.e1235c",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Team Two as Shooter",
      "func": "msg.payload = {\"type\":\"goal\",\"score_TeamOne\":global.get(\"goalsTeamOne\"),\"score_TeamTwo\":global.get(\"goalsTeamTwo\"),\"shooter\":global.get(\"userTeamTwo\"),\"team\":1};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 2690,
      "y": 940,
      "wires": [
        [
          "f6520f5a.f94028",
          "d60273a9.0565a8",
          "a8995a31.4985a"
        ]
      ]
    },
    {
      "id": "5f743947.43d9c",
      "type": "subflow:9b686df7.35c528",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 500,
      "y": 700,
      "wires": [
        [
          "1e24cf0a.bbcd61"
        ]
      ]
    },
    {
      "id": "1519a068.08aee8",
      "type": "websocket out",
      "z": "eb3b002.f14c5",
      "name": "",
      "server": "745b2289.6229bc",
      "client": "",
      "x": 2967,
      "y": 850,
      "wires": []
    },
    {
      "id": "f6520f5a.f94028",
      "type": "websocket out",
      "z": "eb3b002.f14c5",
      "name": "",
      "server": "745b2289.6229bc",
      "client": "",
      "x": 3605.71435546875,
      "y": 1018.5714111328125,
      "wires": []
    },
    {
      "id": "1aa3ff49.f5f779",
      "type": "subflow:5be70547.2b7ef4",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1530,
      "y": 160,
      "wires": []
    },
    {
      "id": "6a55d6df.a676b8",
      "type": "subflow:5be70547.2b7ef4",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 3470,
      "y": 540,
      "wires": []
    },
    {
      "id": "bdedaed4.395918",
      "type": "function",
      "z": "3a05fb9a.d8f02c",
      "name": "Set gameFile",
      "func": "gameID = global.get(\"gameID\").toString();\n\nmsg.payload = {\n  \"_id\": gameID,\n  \"userTeamOne\": global.get(\"userTeamOne\"),\n  \"idTeamOne\": global.get(\"idTeamOne\"),\n  \"userTeamOnePhoto\": global.get(\"userTeamOnePhoto\"),\n  \"userTeamTwo\": global.get(\"userTeamTwo\"),\n  \"idTeamTwo\": global.get(\"idTeamTwo\"),\n  \"userTeamTwoPhoto\": global.get(\"userTeamTwoPhoto\"),\n  \"goalsTeamOne\": global.get(\"goalsTeamOne\"),\n  \"goalsTeamTwo\": global.get(\"goalsTeamTwo\"),\n  \"startTime\": global.get(\"startTime\"),\n  \"endTime\": global.get(\"endTime\"),\n  \"lastBall\": global.get(\"lastBall\"),\n  \"currentBall\": global.get(\"currentBall\"),\n  \"gameActive\": global.get(\"gameActive\"),\n}\n\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 370,
      "y": 100,
      "wires": [
        []
      ]
    },
    {
      "id": "9ecd41d5.165ee8",
      "type": "subflow:3a05fb9a.d8f02c",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 3220,
      "y": 540,
      "wires": [
        [
          "431de9c4.79e1d8",
          "6a55d6df.a676b8"
        ]
      ]
    },
    {
      "id": "9c8fa8cf.bf2a48",
      "type": "subflow:3a05fb9a.d8f02c",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1260,
      "y": 160,
      "wires": [
        [
          "1aa3ff49.f5f779",
          "9ee97196.6c621",
          "6ad5a504.65ca04"
        ]
      ]
    },
    {
      "id": "25417b2a.084c4c",
      "type": "debug",
      "z": "eb3b002.f14c5",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "true",
      "x": 850,
      "y": 1440,
      "wires": []
    },
    {
      "id": "60fac5a0.a05184",
      "type": "http in",
      "z": "eb3b002.f14c5",
      "name": "",
      "url": "/player",
      "method": "post",
      "swaggerDoc": "",
      "x": 130,
      "y": 1440,
      "wires": [
        [
          "20cc76cd.e7a292"
        ]
      ]
    },
    {
      "id": "20cc76cd.e7a292",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Parse Player Information",
      "func": "// Pull the player information from req.body\nvar player = msg.req.body;\n//var player = msg.payload; //For testing\nvar userID = player.id;\nglobal.set(\"userID\",player.id);\nglobal.set(\"userHandle\",player.handle);\nglobal.set(\"userName\",player.name);\nglobal.set(\"userPhoto\",player.photo);\nglobal.set(\"chosenTeam\",player.chosenTeam);\n\nmsg = {};\n// Set payload to search for existing player\nmsg.player = player;\nmsg.payload=userID;\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 350,
      "y": 1440,
      "wires": [
        [
          "10b4c38a.91c3a4"
        ]
      ]
    },
    {
      "id": "10b4c38a.91c3a4",
      "type": "cloudant in",
      "z": "eb3b002.f14c5",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 590,
      "y": 1440,
      "wires": [
        [
          "25417b2a.084c4c",
          "7ab6b722.f1641"
        ]
      ]
    },
    {
      "id": "a08af2d0.b0de18",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Playing for Team One",
      "func": "// Set globals for game file\nglobal.set(\"userTeamOne\",global.get(\"userName\"));\nglobal.set(\"idTeamOne\",global.get(\"userID\"));\nglobal.set(\"userTeamOnePhoto\",global.get(\"userPhoto\"));\nmsg.payload = global.get(\"userID\");\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1020,
      "y": 1500,
      "wires": [
        [
          "d71be76c.73ce9",
          "5f7f882.7a5a8f8",
          "30c3a4ea.905394",
          "b98ce695.47a2a8"
        ]
      ]
    },
    {
      "id": "990fee6.4a1279",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Playing for Team Two",
      "func": "// Set globals for game file\nglobal.set(\"userTeamTwo\",global.get(\"userName\"));\nglobal.set(\"idTeamTwo\",global.get(\"userID\"));\nglobal.set(\"userTeamTwoPhoto\",global.get(\"userPhoto\"));\nmsg.payload = global.get(\"userID\");\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1020,
      "y": 1580,
      "wires": [
        [
          "79794f67.67153",
          "5f7f882.7a5a8f8",
          "30c3a4ea.905394",
          "b98ce695.47a2a8"
        ]
      ]
    },
    {
      "id": "d71be76c.73ce9",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Data for Socket",
      "func": "//Return the player and their photo to UI\nmsg.payload = {\"type\":\"LoginPlayerOne\",\"userTeamOne\":global.get(\"userName\"),\"userTeamOnePhoto\": global.get(\"userPhoto\")};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1430,
      "y": 1440,
      "wires": [
        [
          "91515f97.ed54e8"
        ]
      ]
    },
    {
      "id": "79794f67.67153",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Data for Socket",
      "func": "//Return the player and their photo to UI\nmsg.payload = {\"type\":\"LoginPlayerTwo\",\"userTeamTwo\":global.get(\"userName\"),\"userTeamTwoPhoto\": global.get(\"userPhoto\")};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1430,
      "y": 1640,
      "wires": [
        [
          "f9b97ef6.adb848"
        ]
      ]
    },
    {
      "id": "d6521871.c9503",
      "type": "subflow:5be70547.2b7ef4",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1630,
      "y": 1540,
      "wires": []
    },
    {
      "id": "5f7f882.7a5a8f8",
      "type": "subflow:3a05fb9a.d8f02c",
      "z": "eb3b002.f14c5",
      "x": 1380,
      "y": 1540,
      "wires": [
        [
          "d6521871.c9503"
        ]
      ]
    },
    {
      "id": "91515f97.ed54e8",
      "type": "websocket out",
      "z": "eb3b002.f14c5",
      "name": "",
      "server": "745b2289.6229bc",
      "client": "",
      "x": 1640,
      "y": 1440,
      "wires": []
    },
    {
      "id": "f9b97ef6.adb848",
      "type": "websocket out",
      "z": "eb3b002.f14c5",
      "name": "",
      "server": "745b2289.6229bc",
      "client": "",
      "x": 1640,
      "y": 1640,
      "wires": []
    },
    {
      "id": "a4f5523f.5a53d",
      "type": "http in",
      "z": "eb3b002.f14c5",
      "name": "",
      "url": "/currentGame",
      "method": "get",
      "swaggerDoc": "",
      "x": 150,
      "y": 1820,
      "wires": [
        [
          "3f40964.51c0a6a"
        ]
      ]
    },
    {
      "id": "17baa16.7abe1df",
      "type": "http in",
      "z": "eb3b002.f14c5",
      "name": "",
      "url": "/league",
      "method": "get",
      "swaggerDoc": "",
      "x": 130,
      "y": 2520,
      "wires": [
        [
          "51ec0a2c.fcd914"
        ]
      ]
    },
    {
      "id": "cff9ba4f.be081",
      "type": "http in",
      "z": "eb3b002.f14c5",
      "name": "",
      "url": "/probability",
      "method": "get",
      "swaggerDoc": "",
      "x": 140,
      "y": 2220,
      "wires": [
        [
          "811d0a29.79bdf"
        ]
      ]
    },
    {
      "id": "5ff4b5c3.6f7944",
      "type": "http in",
      "z": "eb3b002.f14c5",
      "name": "",
      "url": "/endGame",
      "method": "get",
      "swaggerDoc": "",
      "x": 140,
      "y": 1980,
      "wires": [
        [
          "fb027dc4.8950e"
        ]
      ]
    },
    {
      "id": "6864617b.f2f118",
      "type": "cloudant in",
      "z": "eb3b002.f14c5",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "GetPlayers",
      "database": "players",
      "search": "_all_",
      "design": "",
      "index": "",
      "x": 590.75,
      "y": 2518.5000610351562,
      "wires": [
        [
          "aa2e7481.de54b8"
        ]
      ]
    },
    {
      "id": "1367e1ea.7e7f0e",
      "type": "debug",
      "z": "eb3b002.f14c5",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "true",
      "x": 1090.75,
      "y": 2562.5000610351562,
      "wires": []
    },
    {
      "id": "6d852341.b18a64",
      "type": "http response",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1090.75,
      "y": 2520.5000610351562,
      "wires": []
    },
    {
      "id": "39082dbd.31f42a",
      "type": "http response",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1570,
      "y": 1860,
      "wires": []
    },
    {
      "id": "5f5492ee.9e433c",
      "type": "subflow:8a9a05a4.940208",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1160,
      "y": 1940,
      "wires": []
    },
    {
      "id": "20f97bcd.b2c994",
      "type": "debug",
      "z": "eb3b002.f14c5",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "payload",
      "x": 1330,
      "y": 2000,
      "wires": []
    },
    {
      "id": "c6f5d3c.33fa5b",
      "type": "subflow:5be70547.2b7ef4",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1290,
      "y": 2080,
      "wires": []
    },
    {
      "id": "829e1dc2.e4ee78",
      "type": "http response",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1230,
      "y": 2040,
      "wires": []
    },
    {
      "id": "51ec0a2c.fcd914",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Include Entire Document",
      "func": "msg.payload={\"include_docs\":true};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 370.75,
      "y": 2519.5000610351562,
      "wires": [
        [
          "6864617b.f2f118"
        ]
      ]
    },
    {
      "id": "3f40964.51c0a6a",
      "type": "subflow:9b686df7.35c528",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 440,
      "y": 1820,
      "wires": [
        [
          "d7417d23.07c66"
        ]
      ]
    },
    {
      "id": "fb027dc4.8950e",
      "type": "subflow:9b686df7.35c528",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 400,
      "y": 1980,
      "wires": [
        [
          "ac748974.16b3c"
        ]
      ]
    },
    {
      "id": "3e00b847.71d75",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Calculate Probability of Team One",
      "func": "var sumgoals = msg.payload.totTeamOne + msg.payload.totTeamTwo;\nvar probGoalTeamOne = msg.payload.totTeamOne / sumgoals;\nvar probGoalTeamTwo = msg.payload.totTeamTwo / sumgoals;\nvar index;\nvar probTeamOne = [];\n\nprobTeamOne[5] = [1,1,1,1,1,1];\n\nfor(var i = 4; i>=0;i--){\n    probTeamOne[i] = [0,0,0,0,0,0];\n}\n    \nprobTeamOne[4][4] = probGoalTeamOne;\n  \nfor(var i = 3; i>=0;i--){\n    index = i + 1;\n    probTeamOne[4][i] = probGoalTeamOne*probTeamOne[5][i] + probGoalTeamTwo*probTeamOne[4][index];\n    probTeamOne[i][4] = probGoalTeamOne*probTeamOne[index][4] + probGoalTeamTwo*probTeamOne[i][4];\n}\n    \nfor(var i = 3; i>=0;i--){\n    index = i + 1;\n    probTeamOne[3][i] = probGoalTeamOne*probTeamOne[4][i] + probGoalTeamTwo*probTeamOne[3][index];\n    probTeamOne[2][i] = probGoalTeamOne*probTeamOne[3][i] + probGoalTeamTwo*probTeamOne[2][index];\n    probTeamOne[1][i] = probGoalTeamOne*probTeamOne[2][i] + probGoalTeamTwo*probTeamOne[1][index];\n    probTeamOne[0][i] = probGoalTeamOne*probTeamOne[1][i] + probGoalTeamTwo*probTeamOne[0][index];\n} \n    \nmsg.payload={\"probTeamOne\":probTeamOne,\"flip\":false};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1460,
      "y": 2420,
      "wires": [
        [
          "98b33d2a.a9be58"
        ]
      ]
    },
    {
      "id": "5a129c03.d8d6cc",
      "type": "cloudant in",
      "z": "eb3b002.f14c5",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Total Games",
      "database": "games",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 1030,
      "y": 2420,
      "wires": [
        [
          "3e00b847.71d75"
        ]
      ]
    },
    {
      "id": "ab799834.a492d8",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Grab Total Games",
      "func": "// Prep Cloudant search parameters for pulling the last cloudant totalGames doc\nmsg.payload=\"totalGames\";\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 790,
      "y": 2420,
      "wires": [
        [
          "5a129c03.d8d6cc"
        ]
      ]
    },
    {
      "id": "98b33d2a.a9be58",
      "type": "http response",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1910,
      "y": 2420,
      "wires": []
    },
    {
      "id": "ac748974.16b3c",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Pull Globals from Game File",
      "func": "//Set the globals for Overall Game\nglobal.set(\"gameID\",Number(msg.payload._id));\nglobal.set(\"rev\",msg.payload._rev);\nglobal.set(\"startTime\",msg.payload.startTime);\nglobal.set(\"endTime\",msg.payload.endTime);\nglobal.set(\"gameActive\",msg.payload.gameActive);\nglobal.set(\"lastBall\",msg.payload.lastBall);\nglobal.set(\"currentBall\",msg.payload.currentBall);\n\n\n//Set the globals for Teams\nglobal.set(\"goalsTeamOne\",msg.payload.goalsTeamOne);\nglobal.set(\"goalsTeamTwo\",msg.payload.goalsTeamTwo);\nglobal.set(\"userTeamOne\",msg.payload.userTeamOne);\nglobal.set(\"userTeamTwo\",msg.payload.userTeamTwo);\nglobal.set(\"idTeamOne\",msg.payload.idTeamOne);\nglobal.set(\"idTeamTwo\",msg.payload.idTeamTwo);\nglobal.set(\"userTeamOnePhoto\",msg.payload.userTeamOnePhoto);\nglobal.set(\"userTeamTwoPhoto\",msg.payload.userTeamTwoPhoto);\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 720,
      "y": 1980,
      "wires": [
        [
          "34c88133.34dc26"
        ]
      ]
    },
    {
      "id": "4ea835da.f11014",
      "type": "subflow:3a05fb9a.d8f02c",
      "z": "eb3b002.f14c5",
      "x": 1000,
      "y": 2040,
      "wires": [
        [
          "20f97bcd.b2c994",
          "829e1dc2.e4ee78",
          "c6f5d3c.33fa5b"
        ]
      ]
    },
    {
      "id": "aa2e7481.de54b8",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Do Math for League Stats",
      "func": "var players = msg.payload;\nmsg.payload={\"data\":[]};\n\nfor(var i=0;i<players.length;i++){\n    var photo = players[i].photo;\n    var gF = players[i].pointsFor;\n    var gA = players[i].pointsAgainst;\n    var gW = players[i].gamesWon;\n    var gL = players[i].gamesLost;\n    var totGames;\n    var diff;\n    var points;\n    var gFgA;\n    \n    node.log(gF);\n    \n    photo = '<img id=\"playerpic\" src=\"'+photo+'\"/>';\n    totGames = gW+gL;\n    diff = gF-gA;\n    gFgA = gF+':'+gA;\n    points = (gW*3)+(gL*-2);\n    \n    player = {\n        \"photo\":photo,\n        \"username\":players[i].name,\n        \"handle\":players[i].handle,\n        \"games\":totGames,\n        \"won\":gW,\n        \"lost\":gL,\n        \"goalSpread\":gFgA,\n        \"goalDiff\":diff,\n        \"points\":points\n        \n    }\n    \n    msg.payload.data.push(player);\n    \n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 810.75,
      "y": 2518.5000610351562,
      "wires": [
        [
          "1367e1ea.7e7f0e",
          "6d852341.b18a64"
        ]
      ]
    },
    {
      "id": "299a9a06.bef39e",
      "type": "websocket out",
      "z": "eb3b002.f14c5",
      "name": "",
      "server": "745b2289.6229bc",
      "client": "",
      "x": 1160,
      "y": 1980,
      "wires": []
    },
    {
      "id": "2f43605d.e2a65",
      "type": "function",
      "z": "32b85eb7.6a78c2",
      "name": "Grab Total Games",
      "func": "// Prep Cloudant search parameters for pulling the last cloudant totalGames doc\nmsg.payload=\"totalGames\";\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 210,
      "y": 80,
      "wires": [
        [
          "c81532f0.59bc2"
        ]
      ]
    },
    {
      "id": "c81532f0.59bc2",
      "type": "cloudant in",
      "z": "32b85eb7.6a78c2",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Total Games",
      "database": "games",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 417,
      "y": 81,
      "wires": [
        [
          "e03c18b9.01b248"
        ]
      ]
    },
    {
      "id": "e03c18b9.01b248",
      "type": "function",
      "z": "32b85eb7.6a78c2",
      "name": "Set Globals for TotalGames",
      "func": "global.set(\"totalGames\",msg.payload.totalGames);\nglobal.set(\"totRev\",msg.payload._rev);\nglobal.set(\"winsTeamOne\",msg.payload.winsTeamOne);\nglobal.set(\"winsTeamTwo\",msg.payload.winsTeamTwo);\nglobal.set(\"totTeamOne\",msg.payload.totTeamOne);\nglobal.set(\"totTeamTwo\",msg.payload.totTeamTwo);\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 656,
      "y": 80,
      "wires": [
        []
      ]
    },
    {
      "id": "43a6dc1d.84f06c",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Is there a user?",
      "property": "idTeamOne",
      "propertyType": "global",
      "rules": [
        {
          "t": "nnull"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 3000,
      "y": 320,
      "wires": [
        [
          "c14265e4.990438"
        ]
      ]
    },
    {
      "id": "f7cdeb45.770d18",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Is there a user?",
      "property": "idTeamTwo",
      "propertyType": "global",
      "rules": [
        {
          "t": "nnull"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 3000,
      "y": 360,
      "wires": [
        [
          "22feb81f.cf12f8"
        ]
      ]
    },
    {
      "id": "c14265e4.990438",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Update Player 1",
      "func": "msg.payload = global.get(\"idTeamOne\");\n\nvar goals = global.get(\"goalsTeamOne\");\nglobal.set(\"goals\",goals);\nvar goals2 = global.get(\"goalsTeamTwo\");\nglobal.set(\"goals2\",goals2);\n\n\nvar time = global.get(\"endTime\");\nvar lastGame = global.get(\"gameID\").toString();\n\nif(goals<goals2){\n    global.set(\"winner\",true);\n}\nelse{\n    global.set(\"winner\",false);\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 3220,
      "y": 320,
      "wires": [
        [
          "a0e6cd66.3eeab8"
        ]
      ]
    },
    {
      "id": "22feb81f.cf12f8",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Update Player 2",
      "func": "msg.payload = global.get(\"idTeamTwo\");\n\nvar goals = global.get(\"goalsTeamTwo\");\nglobal.set(\"goals\",goals);\nvar goals2 = global.get(\"goalsTeamOne\");\nglobal.set(\"goals2\",goals2);\n\nvar time = global.get(\"endTime\");\nvar lastGame = global.get(\"gameID\").toString();\n\nif(goals>goals2){\n    global.set(\"winner\",true);\n}\nelse{\n    global.set(\"winner\",false);\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 3220,
      "y": 360,
      "wires": [
        [
          "97410f09.4fc37"
        ]
      ]
    },
    {
      "id": "811d0a29.79bdf",
      "type": "subflow:9b686df7.35c528",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 400,
      "y": 2160,
      "wires": [
        [
          "a2f0e3e4.3fbd68"
        ]
      ]
    },
    {
      "id": "b9dfafdb.0498a8",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Check for Player One",
      "property": "idTeamOne",
      "propertyType": "global",
      "rules": [
        {
          "t": "nnull"
        },
        {
          "t": "null"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 380,
      "y": 2280,
      "wires": [
        [
          "d56592cb.bbfec8"
        ],
        [
          "5e120232.776f1c"
        ]
      ]
    },
    {
      "id": "eea14ef2.bdcc88",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Search to Player One",
      "func": "msg.payload=global.get(\"idTeamOne\");\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 890,
      "y": 2240,
      "wires": [
        [
          "b050517a.ae9a2"
        ]
      ]
    },
    {
      "id": "5e120232.776f1c",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Check for Player Two",
      "property": "idTeamTwo",
      "propertyType": "global",
      "rules": [
        {
          "t": "nnull"
        },
        {
          "t": "null"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 640,
      "y": 2320,
      "wires": [
        [
          "a322d8f1.3746b"
        ],
        [
          "ab799834.a492d8"
        ]
      ]
    },
    {
      "id": "1720b294.0661ed",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Search to Player Two",
      "func": "msg.payload=global.get(\"idTeamOne\");\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1370,
      "y": 2240,
      "wires": [
        [
          "26f1ac1f.01ba1c"
        ]
      ]
    },
    {
      "id": "b050517a.ae9a2",
      "type": "cloudant in",
      "z": "eb3b002.f14c5",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 1110,
      "y": 2240,
      "wires": [
        [
          "95ff9c57.ff39b"
        ]
      ]
    },
    {
      "id": "26f1ac1f.01ba1c",
      "type": "cloudant in",
      "z": "eb3b002.f14c5",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 1590,
      "y": 2240,
      "wires": [
        [
          "19787e46.73e442"
        ]
      ]
    },
    {
      "id": "d56592cb.bbfec8",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Check for Player Two",
      "property": "idTeamTwo",
      "propertyType": "global",
      "rules": [
        {
          "t": "nnull"
        },
        {
          "t": "null"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 640,
      "y": 2260,
      "wires": [
        [
          "eea14ef2.bdcc88"
        ],
        [
          "b58ea7ac.e4b208"
        ]
      ]
    },
    {
      "id": "a6e89b34.88f328",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Calculate Probability of Team One",
      "func": "var totTeamOne = global.get(\"goalsTeamOne\");\nvar totTeamTwo = global.get(\"goalsTeamTwo\");\n\nvar sumgoals = totTeamOne + totTeamTwo;\nvar probGoalTeamOne = totTeamOne / sumgoals;\nvar probGoalTeamTwo = totTeamTwo / sumgoals;\nvar index;\nvar probTeamOne = [];\n\nprobTeamOne[5] = [1,1,1,1,1,1];\n\nfor(var i = 4; i>=0;i--){\n    probTeamOne[i] = [0,0,0,0,0,0];\n}\n    \nprobTeamOne[4][4] = probGoalTeamOne;\n  \nfor(var i = 3; i>=0;i--){\n    index = i + 1;\n    probTeamOne[4][i] = probGoalTeamOne*probTeamOne[5][i] + probGoalTeamTwo*probTeamOne[4][index];\n    probTeamOne[i][4] = probGoalTeamOne*probTeamOne[index][4] + probGoalTeamTwo*probTeamOne[i][4];\n}\n    \nfor(var i = 3; i>=0;i--){\n    index = i + 1;\n    probTeamOne[3][i] = probGoalTeamOne*probTeamOne[4][i] + probGoalTeamTwo*probTeamOne[3][index];\n    probTeamOne[2][i] = probGoalTeamOne*probTeamOne[3][i] + probGoalTeamTwo*probTeamOne[2][index];\n    probTeamOne[1][i] = probGoalTeamOne*probTeamOne[2][i] + probGoalTeamTwo*probTeamOne[1][index];\n    probTeamOne[0][i] = probGoalTeamOne*probTeamOne[1][i] + probGoalTeamTwo*probTeamOne[0][index];\n} \n    \nmsg.payload={\"probTeamOne\":probTeamOne,\"flip\":msg.payload.flip};\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1680,
      "y": 2360,
      "wires": [
        [
          "98b33d2a.a9be58",
          "3121e60f.d965f2"
        ]
      ]
    },
    {
      "id": "95ff9c57.ff39b",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Goals for Team One",
      "func": "global.set(\"goalsTeamOne\",msg.payload.pointsFor);\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1370,
      "y": 2300,
      "wires": [
        [
          "1720b294.0661ed"
        ]
      ]
    },
    {
      "id": "19787e46.73e442",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Goals for Team Two",
      "func": "global.set(\"goalsTeamTwo\",msg.payload.pointsFor);\nmsg.payload.flip=false;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1670,
      "y": 2300,
      "wires": [
        [
          "a6e89b34.88f328"
        ]
      ]
    },
    {
      "id": "b58ea7ac.e4b208",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Search to Player One",
      "func": "msg.payload=global.get(\"idTeamOne\");\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 890,
      "y": 2280,
      "wires": [
        [
          "9b5d777d.87c3"
        ]
      ]
    },
    {
      "id": "9b5d777d.87c3",
      "type": "cloudant in",
      "z": "eb3b002.f14c5",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 1110,
      "y": 2280,
      "wires": [
        [
          "8dbbbc5d.8ad558"
        ]
      ]
    },
    {
      "id": "8dbbbc5d.8ad558",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Goals for Both Teams",
      "func": "global.set(\"goalsTeamOne\",msg.payload.pointsFor);\nglobal.set(\"goalsTeamTwo\",msg.payload.pointsAgainst);\nmsg.payload.flip=false;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1370,
      "y": 2340,
      "wires": [
        [
          "a6e89b34.88f328"
        ]
      ]
    },
    {
      "id": "a322d8f1.3746b",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Search to Player Two",
      "func": "msg.payload=global.get(\"idTeamTwo\");\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 890,
      "y": 2340,
      "wires": [
        [
          "d84a8d1b.fb2e3"
        ]
      ]
    },
    {
      "id": "d84a8d1b.fb2e3",
      "type": "cloudant in",
      "z": "eb3b002.f14c5",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 1110,
      "y": 2340,
      "wires": [
        [
          "e74950dc.649698"
        ]
      ]
    },
    {
      "id": "e74950dc.649698",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Goals for Both Teams",
      "func": "global.set(\"goalsTeamTwo\",msg.payload.pointsFor);\nglobal.set(\"goalsTeamOne\",msg.payload.pointsAgainst);\n\n//Special flip for calculation if only team two logged in\nmsg.payload.flip=true;\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1370,
      "y": 2380,
      "wires": [
        [
          "a6e89b34.88f328"
        ]
      ]
    },
    {
      "id": "3121e60f.d965f2",
      "type": "debug",
      "z": "eb3b002.f14c5",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "false",
      "x": 1940,
      "y": 2320,
      "wires": []
    },
    {
      "id": "a2f0e3e4.3fbd68",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Global Set IDs for Game Players",
      "func": "global.set(\"idTeamOne\",msg.payload.idTeamOne);\nglobal.set(\"idTeamTwo\",msg.payload.idTeamTwo);\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 410,
      "y": 2220,
      "wires": [
        [
          "b9dfafdb.0498a8"
        ]
      ]
    },
    {
      "id": "9b260c12.ff9cf8",
      "type": "twitter out",
      "z": "eb3b002.f14c5",
      "twitter": "e78a9b69.f3cd2",
      "name": "Tweet",
      "x": 4650,
      "y": 920,
      "wires": []
    },
    {
      "id": "930fb16e.3b9ec8",
      "type": "function",
      "z": "f66fe417.150108",
      "name": "Calculate Scoring Speed",
      "func": "//Set a time for the newest score\nvar nw = global.get(\"scoreTime\");\nvar old = new Date(global.get(\"currentBall\"));\nvar comments = [];\nglobal.set(\"talk\",false);\n\n//Calculate the difference in score times\nvar toSec = 1000;\n    \nvar difference = nw - old;\ndifference = difference/toSec;\n\nif(difference>=60&&difference<=180){\n    global.set(\"talk\",true);\n    \n    comments=[\n        \"This game is putting me to sleep. We are going to be here all day if you keep scoring this slow.\",\n        \"Do you even foosball, bro?\",\n        \"Olympic curling is more exciting than this game.\"\n        ];\n        \n    msg.payload = comments[Math.floor(Math.random()*comments.length)];\n}\nif (difference<10){\n    global.set(\"talk\",true);\n    \n    comments=[\n        \"Did you hurt yourself on that score? Slow down there Mario Andretti. Your break the table you buy it.\",\n        \"That shattering is the sound of your dreams being crushed under the heel of your opponents foosball skills.\",\n        \"If I had a white flag, I'd wave it for you.\"\n        ];\n    \n    msg.payload = comments[Math.floor(Math.random()*comments.length)];\n\n}\n\n//Set globals for game file\nglobal.set(\"scoreSpread\",difference);\nglobal.set(\"lastBall\",global.get(\"currentBall\"));\nglobal.set(\"currentBall\",nw);\n\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 510,
      "y": 160,
      "wires": [
        []
      ]
    },
    {
      "id": "d2179da.b6bdfe",
      "type": "subflow:f66fe417.150108",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 2130,
      "y": 200,
      "wires": [
        [
          "983b469d.bb2d48",
          "1736df84.697998"
        ]
      ]
    },
    {
      "id": "2df935bb.b2d34a",
      "type": "subflow:f66fe417.150108",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 2130,
      "y": 320,
      "wires": [
        [
          "218c1070.082098",
          "1736df84.697998"
        ]
      ]
    },
    {
      "id": "1572f045.453a3",
      "type": "function",
      "z": "31cf390.0267748",
      "name": "Pull Globals from Game File",
      "func": "//Set the globals for Overall Game\nglobal.set(\"gameID\",Number(msg.payload._id));\nglobal.set(\"rev\",msg.payload._rev);\nglobal.set(\"startTime\",msg.payload.startTime);\nglobal.set(\"endTime\",msg.payload.endTime);\nglobal.set(\"gameActive\",msg.payload.gameActive);\nglobal.set(\"lastBall\",msg.payload.lastBall);\nglobal.set(\"currentBall\",msg.payload.currentBall);\n\n//Set the globals for Teams\nglobal.set(\"goalsTeamOne\",msg.payload.goalsTeamOne);\nglobal.set(\"goalsTeamTwo\",msg.payload.goalsTeamTwo);\nglobal.set(\"userTeamOne\",msg.payload.userTeamOne);\nglobal.set(\"userTeamTwo\",msg.payload.userTeamTwo);\nglobal.set(\"idTeamOne\",msg.payload.idTeamOne);\nglobal.set(\"idTeamTwo\",msg.payload.idTeamTwo);\nglobal.set(\"userTeamOnePhoto\",msg.payload.userTeamOnePhoto);\nglobal.set(\"userTeamTwoPhoto\",msg.payload.userTeamTwoPhoto);\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 491.20001220703125,
      "y": 145.1999969482422,
      "wires": [
        []
      ]
    },
    {
      "id": "d1e6d79a.36041",
      "type": "function",
      "z": "ebb52a13.6153a",
      "name": "Set User to Search for to User One",
      "func": "msg.payload=global.get(\"idTeamOne\");\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 660,
      "y": 200,
      "wires": [
        [
          "16dbc905.391e0f"
        ]
      ]
    },
    {
      "id": "16dbc905.391e0f",
      "type": "cloudant in",
      "z": "ebb52a13.6153a",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 930,
      "y": 200,
      "wires": [
        []
      ]
    },
    {
      "id": "320ceb2d.1365b4",
      "type": "function",
      "z": "75765777.fb44a8",
      "name": "Set User to Search for to User Two",
      "func": "msg.payload=global.get(\"idTeamTwo\");\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 580,
      "y": 220,
      "wires": [
        [
          "e8899665.3a4d2"
        ]
      ]
    },
    {
      "id": "e8899665.3a4d2",
      "type": "cloudant in",
      "z": "75765777.fb44a8",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 707.2000122070312,
      "y": 154.1999969482422,
      "wires": [
        []
      ]
    },
    {
      "id": "cc80f4fa.4213f8",
      "type": "subflow:ebb52a13.6153a",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 3370,
      "y": 640,
      "wires": [
        [
          "d3178a0b.8a1ca8"
        ]
      ]
    },
    {
      "id": "73522428.d65d34",
      "type": "subflow:75765777.fb44a8",
      "z": "eb3b002.f14c5",
      "x": 3370,
      "y": 700,
      "wires": [
        [
          "fd99a1a8.fdf13"
        ]
      ]
    },
    {
      "id": "e1b02305.ae09f",
      "type": "subflow:ebb52a13.6153a",
      "z": "eb3b002.f14c5",
      "x": 3387,
      "y": 912,
      "wires": [
        [
          "54b02f2a.ce87f8"
        ]
      ]
    },
    {
      "id": "d60273a9.0565a8",
      "type": "subflow:75765777.fb44a8",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 3387,
      "y": 952,
      "wires": [
        [
          "c01a2706.682e6"
        ]
      ]
    },
    {
      "id": "15453f70.2b9811",
      "type": "watson-text-to-speech",
      "z": "1722da31.78dc7e",
      "name": "Text To Speech",
      "lang": "english",
      "voice": "en-US_MichaelVoice",
      "format": "audio/wav",
      "x": 220,
      "y": 80,
      "wires": [
        [
          "c9365bc0.718008"
        ]
      ]
    },
    {
      "id": "c9365bc0.718008",
      "type": "function",
      "z": "1722da31.78dc7e",
      "name": "Set Payload to Output",
      "func": "msg.payload=msg.speech;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 369.99998474121094,
      "y": 177.5,
      "wires": [
        []
      ]
    },
    {
      "id": "ab02cee1.e89038",
      "type": "subflow:1722da31.78dc7e",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 2610,
      "y": 180,
      "wires": [
        [
          "9bb520e1.71977"
        ]
      ]
    },
    {
      "id": "2d2d4161.9f0e8e",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Watson Tie Score",
      "func": "//Check for a tie and trigger Watson commentator\nvar scoreOne = global.get(\"goalsTeamOne\");\nvar scoreTwo = global.get(\"goalsTeamTwo\");\nglobal.set(\"tie\",false);\n\nif(scoreOne===3&&scoreTwo===3){\n    global.set(\"tie\",true);\n    msg.payload=\"The teams are tied three to three.\";\n}\nif(scoreOne===4&&scoreTwo===4){\n    global.set(\"tie\",true);\n    msg.payload=\"The teams are tied four to four. The game is getting close. Who will win?\";\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 2110,
      "y": 260,
      "wires": [
        [
          "3a89862b.f1638a"
        ]
      ]
    },
    {
      "id": "3a89862b.f1638a",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Boolean Check",
      "property": "tie",
      "propertyType": "global",
      "rules": [
        {
          "t": "true"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 2340,
      "y": 260,
      "wires": [
        [
          "ab02cee1.e89038"
        ]
      ]
    },
    {
      "id": "1736df84.697998",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Boolean Check",
      "property": "talk",
      "propertyType": "global",
      "rules": [
        {
          "t": "true"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 2420,
      "y": 140,
      "wires": [
        [
          "ab02cee1.e89038",
          "9a35ae3b.20aa9"
        ]
      ]
    },
    {
      "id": "d26b24a8.2e8c4",
      "type": "http in",
      "z": "eb3b002.f14c5",
      "name": "",
      "url": "/watson",
      "method": "get",
      "swaggerDoc": "",
      "x": 130,
      "y": 2660,
      "wires": [
        [
          "7b9492fa.51d2c4"
        ]
      ]
    },
    {
      "id": "7b9492fa.51d2c4",
      "type": "template",
      "z": "eb3b002.f14c5",
      "name": "Format Web Page",
      "field": "payload",
      "fieldType": "msg",
      "format": "html",
      "syntax": "mustache",
      "template": "<!DOCTYPE html>\n<html>\n<head>\n<title>FoosBuzz with Watson</title>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n\n<script type=\"text/javascript\">\nvar socketaddy = \"ws://\" + window.location.host + \"/wswatson\";\n\n$(document).ready(function(){\nvar output = document.getElementById('output');\n\n$('#output').on('playing', function () {\n    $('#text').text('Playing audio.')\n});\n\n$('#output').on('ended', function () {\n    $('#text').text('Waiting for audio...')\n});\n\nsock = new WebSocket(socketaddy);\nopenSocket();\n\nfunction openSocket(){\n    sock.onopen = function(){\n        $('#text').text('Waiting for audio...');\n        console.log(\"Connected websocket\");\n    };\n    \n    sock.onerror = function(){\n        console.log(\"Websocket error\");\n    };\n    \n    sock.onclose = function () {\n        $('#text').text('Not connected. Refresh the page?');\n        console.log(\"Socket disconnected\");\n        setTimeout(openSocket,1000);\n    };\n    \n    sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt);\n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n    };\n\n}\n});\n</script>\n\n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n<div id=\"text\">Connecting...</div>\n<audio id=\"output\"></audio>\n</body>\n</html> ",
      "x": 330,
      "y": 2660,
      "wires": [
        [
          "969ac47.c8839b8"
        ]
      ]
    },
    {
      "id": "969ac47.c8839b8",
      "type": "http response",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 510,
      "y": 2660,
      "wires": []
    },
    {
      "id": "ea202561.c7b788",
      "type": "comment",
      "z": "eb3b002.f14c5",
      "name": "Render Watson Commentator Page",
      "info": "",
      "x": 200,
      "y": 2620,
      "wires": []
    },
    {
      "id": "8d11484a.acc95",
      "type": "comment",
      "z": "eb3b002.f14c5",
      "name": "Grab Players from Cloudant and Calculate Stats",
      "info": "",
      "x": 240.75,
      "y": 2470.5000610351562,
      "wires": []
    },
    {
      "id": "e76e2920.98e458",
      "type": "comment",
      "z": "eb3b002.f14c5",
      "name": "Calculate Probability Using Player or totalGames Data",
      "info": "If both players are logged in, then goals for each team are pulled from the goalsFor property of the player file.  \nIf only one player is logged in then their goalsFor and goalsAgainst are used. \nIf no players are logged in then use overall game stats from totalGames file.",
      "x": 260,
      "y": 2120,
      "wires": []
    },
    {
      "id": "7999acd.f4c0354",
      "type": "comment",
      "z": "eb3b002.f14c5",
      "name": "EndGame Button Message from UI",
      "info": "",
      "x": 200,
      "y": 1920,
      "wires": []
    },
    {
      "id": "d5f96dd4.87a0b",
      "type": "switch",
      "z": "ebb52a13.6153a",
      "name": "Check for User One",
      "property": "idTeamOne",
      "propertyType": "global",
      "rules": [
        {
          "t": "nnull"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 380,
      "y": 200,
      "wires": [
        [
          "d1e6d79a.36041"
        ]
      ]
    },
    {
      "id": "88b2dc5d.3f156",
      "type": "switch",
      "z": "75765777.fb44a8",
      "name": "Check for User Two",
      "property": "idTeamTwo",
      "propertyType": "global",
      "rules": [
        {
          "t": "nnull"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 290,
      "y": 220,
      "wires": [
        [
          "320ceb2d.1365b4"
        ]
      ]
    },
    {
      "id": "9a35ae3b.20aa9",
      "type": "debug",
      "z": "eb3b002.f14c5",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "false",
      "x": 2640,
      "y": 140,
      "wires": []
    },
    {
      "id": "c01a2706.682e6",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Format Tweet",
      "func": "msg.payload=\"Gooooooooooooal! @\"+msg.payload.handle+\" scores with \"+global.get(\"goalsTeamTwo\")+\" points!\"\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 4060,
      "y": 1000,
      "wires": [
        [
          "9b260c12.ff9cf8",
          "e377c589.2ffbe8"
        ]
      ]
    },
    {
      "id": "54b02f2a.ce87f8",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Format Tweet",
      "func": "msg.payload=\"Gooooooooooooal! @\"+msg.payload.handle+\" scores with \"+global.get(\"goalsTeamOne\")+\" points!\"\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 4060,
      "y": 960,
      "wires": [
        [
          "9b260c12.ff9cf8",
          "e377c589.2ffbe8"
        ]
      ]
    },
    {
      "id": "77e67f62.4afc1",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Tweet with No Second Player",
      "func": "msg.payload=\"Congrats on the Foosbuzz win @\"+global.get(\"handleOne\")+\"! That's \"+global.get(\"winsOne\")+\" wins! Better luck next time \"+global.get(\"userTeamTwo\");\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 4120,
      "y": 580,
      "wires": [
        [
          "9b260c12.ff9cf8",
          "4afde427.e76634"
        ]
      ]
    },
    {
      "id": "d3178a0b.8a1ca8",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Globals for Player",
      "func": "global.set(\"handleOne\",msg.payload.handle);\nglobal.set(\"winsOne\",msg.payload.gamesWon);\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 3620,
      "y": 640,
      "wires": [
        [
          "8b4b0230.9bf778"
        ]
      ]
    },
    {
      "id": "8b4b0230.9bf778",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "",
      "property": "idTeamTwo",
      "propertyType": "global",
      "rules": [
        {
          "t": "null"
        },
        {
          "t": "nnull"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 3870,
      "y": 640,
      "wires": [
        [
          "77e67f62.4afc1"
        ],
        [
          "1c639a29.6e04de"
        ]
      ]
    },
    {
      "id": "ce91ef96.09004",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Tweet with Second Player",
      "func": "msg.payload=\"Congrats on the Foosbuzz win @\"+global.get(\"handleOne\")+\"! That's \"+global.get(\"winsOne\")+\" wins! Better luck next time @\"+msg.payload.handle;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 4650,
      "y": 660,
      "wires": [
        [
          "9b260c12.ff9cf8",
          "4afde427.e76634"
        ]
      ]
    },
    {
      "id": "fd99a1a8.fdf13",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Globals for Player",
      "func": "global.set(\"handleTwo\",msg.payload.handle);\nglobal.set(\"winsTwo\",msg.payload.gamesWon);\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 3620,
      "y": 700,
      "wires": [
        [
          "ae4e9bcf.40fa18"
        ]
      ]
    },
    {
      "id": "ae4e9bcf.40fa18",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "",
      "property": "idTeamTwo",
      "propertyType": "global",
      "rules": [
        {
          "t": "null"
        },
        {
          "t": "nnull"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 3870,
      "y": 700,
      "wires": [
        [
          "767b1a4.93aab64"
        ],
        [
          "c2451047.f49468"
        ]
      ]
    },
    {
      "id": "767b1a4.93aab64",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Tweet with No Second Player",
      "func": "msg.payload=\"Congrats on the Foosbuzz win @\"+global.get(\"handleTwo\")+\"! That's \"+global.get(\"winsTwo\")+\" wins! Better luck next time \"+global.get(\"userTeamOne\");\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 4080,
      "y": 800,
      "wires": [
        [
          "9b260c12.ff9cf8",
          "4afde427.e76634"
        ]
      ]
    },
    {
      "id": "19e5275b.8f1d89",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Tweet with Second Player",
      "func": "msg.payload=\"Congrats on the Foosbuzz win @\"+global.get(\"handleTwo\")+\"! That's \"+global.get(\"winsTwo\")+\" wins! Better luck next time @\"+msg.payload.handle;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 4070,
      "y": 860,
      "wires": [
        [
          "9b260c12.ff9cf8",
          "4afde427.e76634"
        ]
      ]
    },
    {
      "id": "6f4717c1.a5a468",
      "type": "cloudant in",
      "z": "eb3b002.f14c5",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 4390,
      "y": 660,
      "wires": [
        [
          "ce91ef96.09004"
        ]
      ]
    },
    {
      "id": "1c639a29.6e04de",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set User to Search for to User Two",
      "func": "msg.payload=global.get(\"idTeamTwo\");\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 4120,
      "y": 660,
      "wires": [
        [
          "6f4717c1.a5a468"
        ]
      ]
    },
    {
      "id": "c2451047.f49468",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set User to Search for to User One",
      "func": "msg.payload=global.get(\"idTeamOne\");\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 3560,
      "y": 840,
      "wires": [
        [
          "8af28c22.452cc"
        ]
      ]
    },
    {
      "id": "8af28c22.452cc",
      "type": "cloudant in",
      "z": "eb3b002.f14c5",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 3810,
      "y": 840,
      "wires": [
        [
          "19e5275b.8f1d89"
        ]
      ]
    },
    {
      "id": "f94f5b74.574478",
      "type": "debug",
      "z": "eb3b002.f14c5",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "false",
      "x": 450,
      "y": 820,
      "wires": []
    },
    {
      "id": "be150e8e.cc8098",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Set Data for Socket",
      "func": "msg.payload={\"type\":\"endGame\"};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1050,
      "y": 760,
      "wires": [
        [
          "ea17bb35.5c628"
        ]
      ]
    },
    {
      "id": "ea17bb35.5c628",
      "type": "websocket out",
      "z": "eb3b002.f14c5",
      "name": "",
      "server": "745b2289.6229bc",
      "client": "",
      "x": 1280,
      "y": 760,
      "wires": []
    },
    {
      "id": "4afde427.e76634",
      "type": "subflow:1722da31.78dc7e",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 4570,
      "y": 440,
      "wires": [
        [
          "77d81900.c49"
        ]
      ]
    },
    {
      "id": "9bb520e1.71977",
      "type": "websocket out",
      "z": "eb3b002.f14c5",
      "name": "",
      "server": "41b871fe.08add8",
      "client": "",
      "x": 2790,
      "y": 180,
      "wires": []
    },
    {
      "id": "77d81900.c49",
      "type": "websocket out",
      "z": "eb3b002.f14c5",
      "name": "",
      "server": "41b871fe.08add8",
      "client": "",
      "x": 4780,
      "y": 440,
      "wires": []
    },
    {
      "id": "219f7da1.e42f32",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Insert or Update",
      "property": "newGame",
      "propertyType": "global",
      "rules": [
        {
          "t": "true"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 960,
      "y": 1340,
      "wires": [
        [
          "80dc4140.c9a1b"
        ]
      ]
    },
    {
      "id": "75c591a8.087fe8",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Reset Requested",
      "property": "team",
      "propertyType": "global",
      "rules": [
        {
          "t": "eq",
          "v": "0",
          "vt": "num"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 810,
      "y": 880,
      "wires": [
        [
          "be150e8e.cc8098",
          "68c25ced.755abc"
        ]
      ]
    },
    {
      "id": "d51d101e.95b4c",
      "type": "subflow:3a05fb9a.d8f02c",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1040,
      "y": 1060,
      "wires": [
        [
          "fbe69dd4.4d7058"
        ]
      ]
    },
    {
      "id": "fbe69dd4.4d7058",
      "type": "subflow:5be70547.2b7ef4",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1270,
      "y": 1080,
      "wires": []
    },
    {
      "id": "97410f09.4fc37",
      "type": "subflow:8a9a05a4.940208",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 3440,
      "y": 360,
      "wires": []
    },
    {
      "id": "d5f107f.6c425f8",
      "type": "switch",
      "z": "eb3b002.f14c5",
      "name": "Game is Old",
      "property": "isOld",
      "propertyType": "msg",
      "rules": [
        {
          "t": "true"
        },
        {
          "t": "false"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 990,
      "y": 1840,
      "wires": [
        [
          "100f7ddd.2b8af2"
        ],
        [
          "39082dbd.31f42a"
        ]
      ]
    },
    {
      "id": "fc3c3e09.ff33f8",
      "type": "subflow:3a05fb9a.d8f02c",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1360,
      "y": 1780,
      "wires": [
        [
          "43ef1e5d.cd52a",
          "39082dbd.31f42a"
        ]
      ]
    },
    {
      "id": "43ef1e5d.cd52a",
      "type": "subflow:5be70547.2b7ef4",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 1650,
      "y": 1780,
      "wires": []
    },
    {
      "id": "d7417d23.07c66",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "Pull Globals from Game File",
      "func": "//Set the globals for Overall Game\nglobal.set(\"gameID\",Number(msg.payload._id));\nglobal.set(\"rev\",msg.payload._rev);\nglobal.set(\"startTime\",msg.payload.startTime);\nglobal.set(\"endTime\",msg.payload.endTime);\nglobal.set(\"gameActive\",msg.payload.gameActive);\nglobal.set(\"lastBall\",msg.payload.lastBall);\nglobal.set(\"currentBall\",msg.payload.currentBall);\n\n\n//Set the globals for Teams\nglobal.set(\"goalsTeamOne\",msg.payload.goalsTeamOne);\nglobal.set(\"goalsTeamTwo\",msg.payload.goalsTeamTwo);\nglobal.set(\"userTeamOne\",msg.payload.userTeamOne);\nglobal.set(\"userTeamTwo\",msg.payload.userTeamTwo);\nglobal.set(\"idTeamOne\",msg.payload.idTeamOne);\nglobal.set(\"idTeamTwo\",msg.payload.idTeamTwo);\nglobal.set(\"userTeamOnePhoto\",msg.payload.userTeamOnePhoto);\nglobal.set(\"userTeamTwoPhoto\",msg.payload.userTeamTwoPhoto);\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 500,
      "y": 1880,
      "wires": [
        [
          "8742b81a.f814a8"
        ]
      ]
    },
    {
      "id": "b5778ce.0ddba7",
      "type": "function",
      "z": "ef9360d3.e24e68",
      "name": "End the Game",
      "func": "var end = new Date().toString();\n\n//Set the end time and change the game state to inactive\nglobal.set(\"endTime\",end);\nglobal.set(\"gameActive\",false);\n\n//Set the message type for Client socket\nmsg.payload={\"type\":\"gameEnd\"};\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 280,
      "y": 20,
      "wires": [
        []
      ]
    },
    {
      "id": "34c88133.34dc26",
      "type": "subflow:ef9360d3.e24e68",
      "z": "eb3b002.f14c5",
      "x": 730,
      "y": 2040,
      "wires": [
        [
          "5f5492ee.9e433c",
          "299a9a06.bef39e",
          "4ea835da.f11014"
        ]
      ]
    },
    {
      "id": "100f7ddd.2b8af2",
      "type": "subflow:ef9360d3.e24e68",
      "z": "eb3b002.f14c5",
      "x": 1150,
      "y": 1780,
      "wires": [
        [
          "fc3c3e09.ff33f8"
        ]
      ]
    },
    {
      "id": "fc3ab9dd.02797",
      "type": "comment",
      "z": "eb3b002.f14c5",
      "name": "currentGame Request When a User Loads Page",
      "info": "",
      "x": 240,
      "y": 1760,
      "wires": []
    },
    {
      "id": "324e5837.8881a",
      "type": "function",
      "z": "3f61a03d.8909d",
      "name": "Update Totals in TotalGames",
      "func": "var score=global.get(\"oneScore\");\nvar totOne=global.get(\"totTeamOne\");\nvar totTwo=global.get(\"totTeamTwo\");\n\nif(global.get(\"team\")===1){\n    totOne = totOne + 1;\n    global.set(\"totTeamOne\",totOne);\n}\nelse {\n    totTwo = totTwo + 1;\n    global.set(\"totTeamTwo\",totTwo);\n}\n\nif(global.get(\"goalsTeamOne\")===5){\n    var oneWins = global.get(\"winsTeamOne\");\n    oneWins = oneWins + 1;\n\n    global.set(\"winsTeamOne\",oneWins);\n}\nif(global.get(\"goalsTeamTwo\")===5){\n    var twoWins = global.get(\"winsTeamTwo\");\n    twoWins = twoWins + 1;\n\n    global.set(\"winsTeamTwo\",twoWins);\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 460,
      "y": 80,
      "wires": [
        [
          "1574aa29.b83b86"
        ]
      ]
    },
    {
      "id": "1574aa29.b83b86",
      "type": "function",
      "z": "3f61a03d.8909d",
      "name": "Set totalGames File",
      "func": "var tot = Number(global.get(\"gameID\"));\n\nmsg.payload = {\n    \"_id\":\"totalGames\",\n    \"_rev\":global.get(\"totRev\"),\n    \"totalGames\":tot,\n    \"winsTeamOne\":global.get(\"winsTeamOne\"),\n    \"winsTeamTwo\":global.get(\"winsTeamTwo\"),\n    \"totTeamOne\":global.get(\"totTeamOne\"),\n    \"totTeamTwo\":global.get(\"totTeamTwo\")\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 710,
      "y": 80,
      "wires": [
        [
          "3376e4d2.7da19c",
          "1df31a65.6563ee"
        ]
      ]
    },
    {
      "id": "3376e4d2.7da19c",
      "type": "cloudant out",
      "z": "3f61a03d.8909d",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Update TotalGames",
      "database": "games",
      "payonly": true,
      "operation": "insert",
      "x": 960,
      "y": 80,
      "wires": []
    },
    {
      "id": "7556c2a8.460d04",
      "type": "subflow:32b85eb7.6a78c2",
      "z": "3f61a03d.8909d",
      "name": "",
      "x": 190,
      "y": 80,
      "wires": [
        [
          "324e5837.8881a"
        ]
      ]
    },
    {
      "id": "7d9736ce.93a5d",
      "type": "function",
      "z": "db1d3810.9bfdd",
      "name": "Set Cloudant Update Command",
      "func": "gameID = global.get(\"gameID\").toString();\n\nmsg.payload = {\n  \"_id\": msg.payload._id,\n  \"_rev\": msg.payload._rev,\n  \"handle\":msg.payload.handle,\n  \"name\": msg.payload.name,\n  \"photo\": msg.payload.photo,\n  \"gamesWon\": msg.payload.gamesWon,\n  \"gamesLost\": msg.payload.gamesLost,\n  \"pointsFor\": msg.payload.pointsFor,\n  \"pointsAgainst\":msg.payload.pointsAgainst,\n  \"lastPlayed\": global.get(\"startTime\"),\n  \"lastGame\": gameID\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 590,
      "y": 140,
      "wires": [
        [
          "954459e5.3fd2f8"
        ]
      ]
    },
    {
      "id": "954459e5.3fd2f8",
      "type": "cloudant out",
      "z": "db1d3810.9bfdd",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Update Player",
      "database": "players",
      "payonly": true,
      "operation": "insert",
      "x": 860,
      "y": 140,
      "wires": []
    },
    {
      "id": "171a0c81.3f3653",
      "type": "cloudant in",
      "z": "db1d3810.9bfdd",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 310,
      "y": 140,
      "wires": [
        [
          "7d9736ce.93a5d"
        ]
      ]
    },
    {
      "id": "30c3a4ea.905394",
      "type": "subflow:db1d3810.9bfdd",
      "z": "eb3b002.f14c5",
      "x": 1440,
      "y": 1580,
      "wires": []
    },
    {
      "id": "dfe34863.c22978",
      "type": "function",
      "z": "1745dddb.3256fa",
      "name": "Check for Old Game",
      "func": "global.set(\"newGame\",false);\n//var game = Date.parse(\"Sat Feb 06 2016 06:21:38 GMT+0000 (UTC)\");\n\nvar game = Date.parse(global.get(\"startTime\"));\nvar start = new Date(game);\nvar current = new Date();\nmsg.isOld = false;\nglobal.set(\"isOld\",false);\n\nif(start < current){\n    var sHour = start.getTime();\n    var cHour = current.getTime();\n    \n    var toMin = 60000;\n    \n    var difference = cHour - sHour;\n    difference = difference/toMin;\n    \n    if(difference > 15){\n        msg.isOld = true;\n        global.set(\"isOld\",true);\n    }\n    \n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 240,
      "y": 40,
      "wires": [
        []
      ]
    },
    {
      "id": "8742b81a.f814a8",
      "type": "subflow:1745dddb.3256fa",
      "z": "eb3b002.f14c5",
      "x": 780,
      "y": 1860,
      "wires": [
        [
          "d5f107f.6c425f8"
        ]
      ]
    },
    {
      "id": "e9694001.9001f8",
      "type": "switch",
      "z": "7b37827d.4bbe54",
      "name": "Check if Response is Null",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
        {
          "t": "null"
        },
        {
          "t": "nnull"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 150,
      "y": 80,
      "wires": [
        [
          "6cdb8e2c.f174c"
        ],
        [
          "314b59f5.45ccd6"
        ]
      ]
    },
    {
      "id": "6cdb8e2c.f174c",
      "type": "function",
      "z": "7b37827d.4bbe54",
      "name": "Create New Player",
      "func": "msg.payload = {\n  \"_id\": global.get(\"userID\"),\n  \"handle\": global.get(\"userHandle\"),\n  \"name\": global.get(\"userName\"),\n  \"photo\": global.get(\"userPhoto\"),\n  \"gamesWon\": 0,\n  \"gamesLost\": 0,\n  \"pointsFor\": 0,\n  \"pointsAgainst\":0,\n  \"lastPlayed\": null,\n  \"lastGame\": null\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 430,
      "y": 53,
      "wires": [
        [
          "363de183.ef1666",
          "314b59f5.45ccd6"
        ]
      ]
    },
    {
      "id": "363de183.ef1666",
      "type": "cloudant out",
      "z": "7b37827d.4bbe54",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Insert New Player",
      "database": "players",
      "payonly": true,
      "operation": "insert",
      "x": 730,
      "y": 60,
      "wires": []
    },
    {
      "id": "f440af3e.776ad",
      "type": "switch",
      "z": "7b37827d.4bbe54",
      "name": "Game is Old",
      "property": "isOld",
      "propertyType": "msg",
      "rules": [
        {
          "t": "true"
        },
        {
          "t": "false"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 1410,
      "y": 160,
      "wires": [
        [
          "6198d04a.cb6ab8"
        ],
        [
          "2e2d6671.bd78e2"
        ]
      ]
    },
    {
      "id": "258390d6.dd8df8",
      "type": "subflow:5be70547.2b7ef4",
      "z": "7b37827d.4bbe54",
      "name": "",
      "x": 2090,
      "y": 60,
      "wires": []
    },
    {
      "id": "d7aba181.facfd",
      "type": "subflow:3a05fb9a.d8f02c",
      "z": "7b37827d.4bbe54",
      "name": "",
      "x": 1840,
      "y": 80,
      "wires": [
        [
          "258390d6.dd8df8",
          "33ded75d.24c2c"
        ]
      ]
    },
    {
      "id": "5dcf11fb.1a729",
      "type": "switch",
      "z": "7b37827d.4bbe54",
      "name": "Skip For Duplicate",
      "property": "dup",
      "propertyType": "global",
      "rules": [
        {
          "t": "false"
        },
        {
          "t": "true"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 2210,
      "y": 300,
      "wires": [
        [
          "66e486e.8b97078"
        ],
        [
          "92013970.83fc58"
        ]
      ]
    },
    {
      "id": "6198d04a.cb6ab8",
      "type": "subflow:ef9360d3.e24e68",
      "z": "7b37827d.4bbe54",
      "x": 1650,
      "y": 80,
      "wires": [
        [
          "d7aba181.facfd"
        ]
      ]
    },
    {
      "id": "f5e49b69.72f8b",
      "type": "subflow:1745dddb.3256fa",
      "z": "7b37827d.4bbe54",
      "x": 1200,
      "y": 160,
      "wires": [
        [
          "f440af3e.776ad"
        ]
      ]
    },
    {
      "id": "725810dc.b92088",
      "type": "websocket out",
      "z": "7b37827d.4bbe54",
      "name": "",
      "server": "745b2289.6229bc",
      "client": "",
      "x": 2580,
      "y": 360,
      "wires": []
    },
    {
      "id": "92013970.83fc58",
      "type": "function",
      "z": "7b37827d.4bbe54",
      "name": "Set Data for Socket",
      "func": "msg.payload = {\"type\":\"DuplicateLogin\"};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 2370,
      "y": 360,
      "wires": [
        [
          "725810dc.b92088"
        ]
      ]
    },
    {
      "id": "66e486e.8b97078",
      "type": "switch",
      "z": "7b37827d.4bbe54",
      "name": "Set Player for Chosen Team",
      "property": "chosenTeam",
      "propertyType": "global",
      "rules": [
        {
          "t": "eq",
          "v": "1",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "2",
          "vt": "str"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 1680,
      "y": 460,
      "wires": [
        [],
        []
      ]
    },
    {
      "id": "33ded75d.24c2c",
      "type": "function",
      "z": "7b37827d.4bbe54",
      "name": "Game Not Active",
      "func": "//Increase the gameID to start new game\nglobal.set(\"newGame\",true);\n\nvar game=global.get(\"gameID\");\ngame=game+1;\nglobal.set(\"gameID\",game);\n\n//Set the users\nglobal.set(\"userTeamOne\",\"Anonymous\");\nglobal.set(\"idTeamOne\",null);\nglobal.set(\"userTeamTwo\",\"Incognito\");\nglobal.set(\"idTeamTwo\",null);\nglobal.set(\"goalsTeamOne\",0);\nglobal.set(\"goalsTeamTwo\",0);\n\n//Set time of game start\nvar start = new Date().toString();\nglobal.set(\"startTime\",start);\nglobal.set(\"gameActive\",true);\nglobal.set(\"endTime\",null);\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1190,
      "y": 300,
      "wires": [
        [
          "66e486e.8b97078"
        ]
      ]
    },
    {
      "id": "2e2d6671.bd78e2",
      "type": "function",
      "z": "7b37827d.4bbe54",
      "name": "Check Already Logged In or Another Player Logging In",
      "func": "var idOne = global.get(\"idTeamOne\");\nvar idTwo = global.get(\"idTeamTwo\");\nvar idUser = global.get(\"userID\");\nvar chosenTeam = global.get(\"chosenTeam\");\n\nif(idUser===idOne || idUser===idTwo){\n    global.set(\"dup\",true);\n}\nelse if(chosenTeam===1&&idOne!==null){\n    global.set(\"dup\",true)\n}\nelse if(chosenTeam===2&&idTwo!==null){\n    global.set(\"dup\",true)\n}\nelse {\n    global.set(\"dup\",false);\n}\n\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1860,
      "y": 300,
      "wires": [
        [
          "5dcf11fb.1a729"
        ]
      ]
    },
    {
      "id": "314b59f5.45ccd6",
      "type": "subflow:9b686df7.35c528",
      "z": "7b37827d.4bbe54",
      "name": "",
      "x": 380,
      "y": 160,
      "wires": [
        [
          "ee2bb5cc.275f3"
        ]
      ]
    },
    {
      "id": "ee2bb5cc.275f3",
      "type": "function",
      "z": "7b37827d.4bbe54",
      "name": "Pull Globals from Game File",
      "func": "//Set the globals for Overall Game\nglobal.set(\"gameID\",Number(msg.payload._id));\nglobal.set(\"rev\",msg.payload._rev);\nglobal.set(\"startTime\",msg.payload.startTime);\nglobal.set(\"endTime\",msg.payload.endTime);\nglobal.set(\"gameActive\",msg.payload.gameActive);\nglobal.set(\"lastBall\",msg.payload.lastBall);\nglobal.set(\"currentBall\",msg.payload.currentBall);\n\n\n//Set the globals for Teams\nglobal.set(\"goalsTeamOne\",msg.payload.goalsTeamOne);\nglobal.set(\"goalsTeamTwo\",msg.payload.goalsTeamTwo);\nglobal.set(\"userTeamOne\",msg.payload.userTeamOne);\nglobal.set(\"userTeamTwo\",msg.payload.userTeamTwo);\nglobal.set(\"idTeamOne\",msg.payload.idTeamOne);\nglobal.set(\"idTeamTwo\",msg.payload.idTeamTwo);\nglobal.set(\"userTeamOnePhoto\",msg.payload.userTeamOnePhoto);\nglobal.set(\"userTeamTwoPhoto\",msg.payload.userTeamTwoPhoto);\n\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 720,
      "y": 160,
      "wires": [
        [
          "7fcd6a05.7935ec"
        ]
      ]
    },
    {
      "id": "7fcd6a05.7935ec",
      "type": "switch",
      "z": "7b37827d.4bbe54",
      "name": "Check If Game is Active",
      "property": "gameActive",
      "propertyType": "global",
      "rules": [
        {
          "t": "true"
        },
        {
          "t": "false"
        }
      ],
      "checkall": "true",
      "outputs": 2,
      "x": 850,
      "y": 220,
      "wires": [
        [
          "f5e49b69.72f8b"
        ],
        [
          "33ded75d.24c2c"
        ]
      ]
    },
    {
      "id": "7ab6b722.f1641",
      "type": "subflow:7b37827d.4bbe54",
      "z": "eb3b002.f14c5",
      "x": 640,
      "y": 1540,
      "wires": [
        [
          "a08af2d0.b0de18"
        ],
        [
          "990fee6.4a1279"
        ]
      ]
    },
    {
      "id": "fe0d527f.acf4a",
      "type": "comment",
      "z": "eb3b002.f14c5",
      "name": "Player Login Received from Express",
      "info": "If a player is new, add the player to the Players database.\nCheck if the game is active and not an old game, create a\nnew game and add the player to it.  If game is active add the player\nto replace a null login.",
      "x": 200,
      "y": 1380,
      "wires": []
    },
    {
      "id": "86515b1f.a20908",
      "type": "function",
      "z": "3d6f968e.13cde2",
      "name": "Set Cloudant Update Command",
      "func": "gameID = global.get(\"gameID\").toString();\n\nmsg.payload = {\n  \"_id\": msg.payload._id,\n  \"_rev\": msg.payload._rev,\n  \"handle\":msg.payload.handle,\n  \"name\": msg.payload.name,\n  \"photo\": msg.payload.photo,\n  \"gamesWon\": msg.payload.gamesWon,\n  \"gamesLost\": msg.payload.gamesLost,\n  \"pointsFor\": msg.payload.pointsFor,\n  \"pointsAgainst\":msg.payload.pointsAgainst,\n  \"lastPlayed\": global.get(\"startTime\"),\n  \"lastGame\": gameID\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1050,
      "y": 120,
      "wires": [
        [
          "8e80809f.9a289"
        ]
      ]
    },
    {
      "id": "8e80809f.9a289",
      "type": "cloudant out",
      "z": "3d6f968e.13cde2",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Update Player",
      "database": "players",
      "payonly": true,
      "operation": "insert",
      "x": 1280,
      "y": 120,
      "wires": []
    },
    {
      "id": "d5844081.51b158",
      "type": "function",
      "z": "3d6f968e.13cde2",
      "name": "Set Cloudant Update Command",
      "func": "gameID = global.get(\"gameID\").toString();\n\nmsg.payload = {\n  \"_id\": msg.payload._id,\n  \"_rev\": msg.payload._rev,\n  \"handle\":msg.payload.handle,\n  \"name\": msg.payload.name,\n  \"photo\": msg.payload.photo,\n  \"gamesWon\": msg.payload.gamesWon,\n  \"gamesLost\": msg.payload.gamesLost,\n  \"pointsFor\": msg.payload.pointsFor,\n  \"pointsAgainst\":msg.payload.pointsAgainst,\n  \"lastPlayed\": global.get(\"startTime\"),\n  \"lastGame\": gameID\n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 1050,
      "y": 160,
      "wires": [
        [
          "2dff9b9a.1a2344"
        ]
      ]
    },
    {
      "id": "2dff9b9a.1a2344",
      "type": "cloudant out",
      "z": "3d6f968e.13cde2",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Update Player",
      "database": "players",
      "payonly": true,
      "operation": "insert",
      "x": 1280,
      "y": 160,
      "wires": []
    },
    {
      "id": "40027567.cfd89c",
      "type": "function",
      "z": "3d6f968e.13cde2",
      "name": "Set User to Search for to User One",
      "func": "msg.payload=msg.payload.idTeamOne;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 540,
      "y": 120,
      "wires": [
        [
          "4f579827.990a58"
        ]
      ]
    },
    {
      "id": "4f579827.990a58",
      "type": "cloudant in",
      "z": "3d6f968e.13cde2",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 810,
      "y": 120,
      "wires": [
        [
          "86515b1f.a20908"
        ]
      ]
    },
    {
      "id": "dc0f7d84.7446d8",
      "type": "switch",
      "z": "3d6f968e.13cde2",
      "name": "Check for Player One",
      "property": "payload.idTeamOne",
      "propertyType": "msg",
      "rules": [
        {
          "t": "nnull"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 260,
      "y": 120,
      "wires": [
        [
          "40027567.cfd89c"
        ]
      ]
    },
    {
      "id": "12fb4b67.e35465",
      "type": "cloudant in",
      "z": "3d6f968e.13cde2",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Search for Player",
      "database": "players",
      "search": "_id_",
      "design": "",
      "index": "",
      "x": 810,
      "y": 160,
      "wires": [
        [
          "d5844081.51b158"
        ]
      ]
    },
    {
      "id": "612925c.8dbfd5c",
      "type": "function",
      "z": "3d6f968e.13cde2",
      "name": "Set User to Search for to User Two",
      "func": "msg.payload=msg.payload.idTeamTwo;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 540,
      "y": 160,
      "wires": [
        [
          "12fb4b67.e35465"
        ]
      ]
    },
    {
      "id": "732d1e3e.c69c4",
      "type": "switch",
      "z": "3d6f968e.13cde2",
      "name": "Check for Player Two",
      "property": "payload.idTeamTwo",
      "propertyType": "msg",
      "rules": [
        {
          "t": "nnull"
        }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 260,
      "y": 160,
      "wires": [
        [
          "612925c.8dbfd5c"
        ]
      ]
    },
    {
      "id": "131d2f9c.d38b28",
      "type": "subflow:5be70547.2b7ef4",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 990,
      "y": 1200,
      "wires": []
    },
    {
      "id": "6673d071.f8b91",
      "type": "subflow:3d6f968e.13cde2",
      "z": "eb3b002.f14c5",
      "x": 1150,
      "y": 1260,
      "wires": []
    },
    {
      "id": "566b540d.bdb9dc",
      "type": "comment",
      "z": "eb3b002.f14c5",
      "name": "Create a new game with the players from the previous game",
      "info": "User rematch requested, create new game file with \nprevious players as defaults. ",
      "x": 280,
      "y": 1200,
      "wires": []
    },
    {
      "id": "68c25ced.755abc",
      "type": "subflow:ef9360d3.e24e68",
      "z": "eb3b002.f14c5",
      "x": 870,
      "y": 980,
      "wires": [
        [
          "d51d101e.95b4c"
        ]
      ]
    },
    {
      "id": "743fbac.14be944",
      "type": "function",
      "z": "c5240d2d.6b2e28",
      "name": "Update Total Games",
      "func": "var tot = Number(global.get(\"gameID\"));\n\nmsg.payload = {\n    \"_id\":\"totalGames\",\n    \"_rev\":global.get(\"totRev\"),\n    \"totalGames\":tot,\n    \"winsTeamOne\":global.get(\"winsTeamOne\"),\n    \"winsTeamTwo\":global.get(\"winsTeamTwo\"),\n    \"totTeamOne\":global.get(\"totTeamOne\"),\n    \"totTeamTwo\":global.get(\"totTeamTwo\")\n    \n}\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 380,
      "y": 80,
      "wires": [
        [
          "3c1b48fe.7ca368"
        ]
      ]
    },
    {
      "id": "3c1b48fe.7ca368",
      "type": "cloudant out",
      "z": "c5240d2d.6b2e28",
      "service": "foosbuzz2-cloudantNoSQLDB",
      "cloudant": "",
      "name": "Update TotalGames",
      "database": "games",
      "payonly": true,
      "operation": "insert",
      "x": 640,
      "y": 80,
      "wires": []
    },
    {
      "id": "80dc4140.c9a1b",
      "type": "subflow:c5240d2d.6b2e28",
      "z": "eb3b002.f14c5",
      "x": 1190,
      "y": 1340,
      "wires": []
    },
    {
      "id": "a4ce5047.c4c768",
      "type": "subflow:3f61a03d.8909d",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 3070,
      "y": 240,
      "wires": []
    },
    {
      "id": "b98ce695.47a2a8",
      "type": "subflow:c5240d2d.6b2e28",
      "z": "eb3b002.f14c5",
      "x": 1390,
      "y": 1500,
      "wires": []
    },
    {
      "id": "769eedc8.c6ed04",
      "type": "subflow:ef9360d3.e24e68",
      "z": "eb3b002.f14c5",
      "x": 1290,
      "y": 93,
      "wires": [
        [
          "9c8fa8cf.bf2a48",
          "3e3498b2.cf9158"
        ]
      ]
    },
    {
      "id": "1df31a65.6563ee",
      "type": "debug",
      "z": "3f61a03d.8909d",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "false",
      "x": 940,
      "y": 220,
      "wires": []
    },
    {
      "id": "67c3bf37.98439",
      "type": "function",
      "z": "eb3b002.f14c5",
      "name": "",
      "func": "msg.payload = {\"d\":msg.payload};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 340,
      "y": 560,
      "wires": [
        [
          "64f42464.37c244"
        ]
      ]
    },
    {
      "id": "e377c589.2ffbe8",
      "type": "subflow:1722da31.78dc7e",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 4470,
      "y": 1000,
      "wires": [
        [
          "a9ed3604.f7c39"
        ]
      ]
    },
    {
      "id": "a9ed3604.f7c39",
      "type": "websocket out",
      "z": "eb3b002.f14c5",
      "name": "",
      "server": "41b871fe.08add8",
      "client": "",
      "x": 4680,
      "y": 1000,
      "wires": []
    },
    {
      "id": "a8995a31.4985a",
      "type": "subflow:3a05fb9a.d8f02c",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 3187.1429748535156,
      "y": 1230.0000610351562,
      "wires": [
        [
          "b072360a.93ead",
          "8090b96a.135738"
        ]
      ]
    },
    {
      "id": "8090b96a.135738",
      "type": "subflow:5be70547.2b7ef4",
      "z": "eb3b002.f14c5",
      "name": "",
      "x": 3437.1429748535156,
      "y": 1230.0000610351562,
      "wires": []
    },
    {
      "id": "b072360a.93ead",
      "type": "debug",
      "z": "eb3b002.f14c5",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "payload",
      "x": 3417.1429748535156,
      "y": 1150.0000610351562,
      "wires": []
    },
    {
      "id": "6ad5a504.65ca04",
      "type": "debug",
      "z": "eb3b002.f14c5",
      "name": "Update Game Cloudant",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 1605,
      "y": 126.5,
      "wires": []
    },
    {
      "id": "dcf3823a.22bf3",
      "type": "debug",
      "z": "eb3b002.f14c5",
      "name": "End the Game",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 1345,
      "y": 34.5,
      "wires": []
    },
    {
      "id": "3e3498b2.cf9158",
      "type": "debug",
      "z": "eb3b002.f14c5",
      "name": "Set Game File",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 1575,
      "y": 89.5,
      "wires": []
    },
    {
      "id": "162695e1.b508ea",
      "type": "debug",
      "z": "eb3b002.f14c5",
      "name": "Grab Last Game File from Cloudant",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 846,
      "y": 618.5,
      "wires": []
    }
  ]
